// Use the gear_dropdown.png screenshot as a style guide

@use '../variables' as *;
.hiden li{
    position: relative;
}
.dropdown-subtitle ul{
    display: none;

}
// .hiden{
//     display: none;
//     background-color: red;
// }

.gear_dropdown {
   position: absolute;
    top:auto ;
    right:auto;
    background-color: aqua;
}

#gear_dropdown:hover li{
    display: block;
}

